# Usuario de login
USER = "usuarioadmin"

# Senha login
PASS = "pass"

# E-mail destinatário
EMAIL_DESTINATARIO="email@abc.com"
EMAIL_PASS = "pass"

EMAIL_REMETENTE = "email@abc.com"

# URL do site
URL_SITE="www.site.com.br"

# Seletores/botões da página (XPath, ID ou seletor CSS)
# Armazenados no .env por boas práticas de segurança
# Centralizando elementos da interface que podem mudar sem necessidade de alterar o código-fonte
BTN_LOGIN="botaologin"
BTN_CHAMADOS="botaochamados"
INPUT_LOGIN = "inputlogin"
INPUT_PASS = "inputsenha"

# Nome original do arquivo Excel exportado
# Utilizado na função tratarExcel()
FILE_NAME="ExcelChamados"